body {
    height: 100vh;
    padding: 0;
    margin: 0;
}

#container {
    width:80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: red;
    height: 100vh;
}

#title {
    display: flex;
    justify-content: center;
}

#input-area {
    background: blue;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 15vh;
    font-size: 1.3rem;
}

#title-holder{
    grid-column: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

#subject-holder {
    grid-column: 3 / 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

#text-holder {
    grid-row: 2 / 3;
    grid-column: 2 / 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 2 / 3;
    grid-column: 4 / 5;
}

#create-btn {
    height: 50px;
    width: 100px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#display-area {
    background: yellow;
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: center;

}
#note-display-area {
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
}

.active-list-item {
    background: green;
    width: 90%;
    border: 2px solid grey;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
}