body {
    height: 100vh;
    padding: 0;
    margin: 0;
}

#container {
    width:80%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: .25fr .75fr 2fr;
    background-color: red;
    height: 100vh;
}

#title {
    display: flex;
    justify-content: center;
}

#input-area {
    background: blue;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 35vh;
}

#title-holder{
    grid-column: 2 / 3;
    display: flex;
}

#subject-holder {
    grid-column: 3 / 4;
    display: flex;
}

#text-holder {
    grid-row: 2 / 3;
    grid-column: 2 / 4;
    display: flex;
}

#create-btn {
    height: 50px;
    width: 100px;
    border-radius: 20px;
}